language: node_js
node_js:
  - 12
cache: yarn
branches:
  only:
    - master
addons:
  ssh_known_hosts:
  - $IP
before_install:
  - openssl enc -aes-256-cbc -d -in ./.travis/deploy.enc -out ./.travis/deploy -k $KEY
  - eval "$(ssh-agent -s)"
  - cp ./.travis/deploy ~/.ssh/deploy
  - chmod 600 ~/.ssh/deploy
  - ssh-add ~/.ssh/deploy
install:
  - echo $PUB >> $HOME/.ssh/known_hosts
  - ls -al
  - yarn
  - yarn build
after_success:
  - tar -cvf archive.tar ./dist/
  - chmod 600 ./archive.tar
deploy:
  - provider: script
    skip_cleanup: true
    script: bash .travis/deploy.sh
    on:
      branch: master
after_deploy:
  - bash ./.travis/after_deploy.sh

